body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.card:hover{
    background-color: rgb(34, 34, 34);
    color: blanchedalmond;
}
.card-img-top {
    width:100%;
    object-fit: cover;
 }
 .card-footer{
     font-size: 12px;
 }
 .alert{
     width: 100%;
     height: 100%;
 }
 #backtotop{
    color: white; 
    widows: 30px;
    position: fixed;
    bottom: 200px;
    right: 50px;
    z-index: 100;
    display: none;
 }
 footer{
    margin-top: 230px;
    width: 100%;
 }